<?xml version="1.0" ?>
<container xmlns="http://symfony.com/schema/dic/services"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://symfony.com/schema/dic/services http://symfony.com/schema/dic/services/services-1.0.xsd">
    <services>
        <!-- DataMapper -->
        <service id="sulu_content.template_mapper" class="Sulu\Bundle\ContentBundle\Content\Application\DimensionContentFactory\DataMapper\TemplateDataMapper">
            <argument type="service" id="sulu_page.structure.factory"/>

            <tag name="sulu_content.data_mapper"/>
        </service>

        <service id="sulu_content.seo_mapper" class="Sulu\Bundle\ContentBundle\Content\Application\DimensionContentFactory\DataMapper\SeoDataMapper">
            <tag name="sulu_content.data_mapper"/>
        </service>

        <service id="sulu_content.excerpt_mapper" class="Sulu\Bundle\ContentBundle\Content\Application\DimensionContentFactory\DataMapper\ExcerptDataMapper">
            <argument type="service" id="sulu_content.tag_factory"/>
            <argument type="service" id="sulu_content.category_factory"/>

            <tag name="sulu_content.data_mapper"/>
        </service>

        <service id="sulu_content.route_mapper" class="Sulu\Bundle\ContentBundle\Content\Application\DimensionContentFactory\DataMapper\RouteDataMapper">
            <argument type="service" id="sulu_page.structure.factory"/>
            <argument type="service" id="sulu_route.generator.route_generator"/>
            <argument type="service" id="sulu_route.manager.route_manager"/>

            <tag name="sulu_content.data_mapper"/>
        </service>
    </services>
</container>
