# composer
/composer.phar
/composer.lock
/auth.json
/vendor

# phpunit
/phpunit.xml
.phpunit.result.cache

# php-cs
.php_cs.cache

# System files
.DS_Store

# tests
Tests/Application/var
Tests/Application/.env.local
Tests/reports/

# IDEs
.idea/*
*.iml
*~
