# composer
vendor
composer.lock

# phpunit
phpunit.xml

# php-cs
.php_cs.cache

# tests
Tests/Application/var
Tests/Application/.env.test.local

# npm
Resources/js/package-lock.json
Resources/js/node_modules

# IDEs
/.idea
