parameters:
	ignoreErrors:
		-
			message: "#^Parameter \\#1 \\$array of function array_values expects array, array\\<string\\>\\|null given\\.$#"
			count: 1
			path: Tests/Application/ExampleTestBundle/Entity/ExampleDimensionContent.php

		-
			message: "#^Parameter \\#1 \\$array of function array_values expects array, array\\<string\\>\\|null given\\.$#"
			count: 2
			path: Tests/Unit/Content/Application/ContentNormalizer/ContentNormalizerTest.php

		-
			message: "#^Parameter \\#1 \\$array of function array_values expects array, array\\<string\\>\\|null given\\.$#"
			count: 1
			path: Tests/Unit/Content/Domain/Model/DimensionContentTraitTest.php

		-
			message: "#^Parameter \\#1 \\$array of function array_values expects array, array\\<string\\>\\|null given\\.$#"
			count: 3
			path: Tests/Unit/Content/Infrastructure/Sulu/Admin/ContentViewBuilderFactoryTest.php

