includes:
    - vendor/jangregor/phpstan-prophecy/src/extension.neon
    - vendor/phpstan/phpstan-symfony/extension.neon
    - vendor/phpstan/phpstan-doctrine/extension.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon
    - vendor/phpstan/phpstan-webmozart-assert/extension.neon
    - vendor/thecodingmachine/phpstan-strict-rules/phpstan-strict-rules.neon

parameters:
    paths:
        - .
    level: max
    excludes_analyse:
        - %currentWorkingDirectory%/DependencyInjection/Configuration.php
        - %currentWorkingDirectory%/vendor/*
        - %currentWorkingDirectory%/Tests/Application/var*
        - %currentWorkingDirectory%/Tests/coverage-checker.php
    symfony:
        container_xml_path: %currentWorkingDirectory%/Tests/Application/var/cache/admin/test/adminAdminTestDebugProjectContainer.xml
        console_application_loader: Tests/phpstan/console-application.php
    doctrine:
        objectManagerLoader: Tests/phpstan/object-manager.php
    autoload_files:
        - vendor/bin/.phpunit/phpunit-8/vendor/autoload.php
        - vendor/autoload.php
    ignoreErrors:
        # See https://github.com/phpstan/phpstan/issues/2600
        - message: '#Parameter \#1 \$x of method Doctrine\\Common\\Collections\\ExpressionBuilder::orX\(\) expects array<int,mixed>|null, Doctrine\\Common\\Collections\\Expr\\Comparison given\.#'
          path: %currentWorkingDirectory%/Content/Infrastructure/Doctrine/DimensionRepository.php
        - message: "#^Method Sulu\\\\Bundle\\\\ContentBundle\\\\Content\\\\Infrastructure\\\\Sulu\\\\Route\\\\ContentDocument\\:\\:getStructure\\(\\) should return Sulu\\\\Component\\\\Content\\\\Document\\\\Structure\\\\StructureInterface but returns null\\.$#"
          count: 1
          path: Content/Infrastructure/Sulu/Route/ContentDocument.php
