includes:
    - vendor/jangregor/phpstan-prophecy/src/extension.neon
    - vendor/phpstan/phpstan-doctrine/extension.neon
    - vendor/phpstan/phpstan-symfony/extension.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon
    - vendor/phpstan/phpstan-webmozart-assert/extension.neon

parameters:
    level: 7
    paths:
        - .
    excludes_analyse:
        - %currentWorkingDirectory%/DependencyInjection/Configuration.php
        - %currentWorkingDirectory%/vendor/*
        - %currentWorkingDirectory%/Tests/Application/var/*
    symfony:
        container_xml_path: %rootDir%/../../../Tests/Application/var/cache/admin/test/adminAdminTestDebugProjectContainer.xml
