<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true" bootstrap="Tests/test-bootstrap.php">
    <testsuites>
        <testsuite name="Sulu Content Bundle">
            <directory>./Tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory>.</directory>
            <exclude>
                <directory>Common/</directory><!-- TODO Tests -->
                <directory>Resources/</directory>
                <directory>TestCases/</directory>
                <directory>Tests/</directory>
                <directory>vendor/</directory>
            </exclude>
        </whitelist>
    </filter>

    <php>
        <server name="SYMFONY_PHPUNIT_VERSION" value="8"/>
        <env name="KERNEL_CLASS" value="Sulu\Bundle\ContentBundle\Tests\Application\Kernel"/>
        <env name="APP_ENV" value="test" force="true"/>
        <env name="SYMFONY_DEPRECATIONS_HELPER" value="weak"/>
        <server name="SYMFONY_PHPUNIT_REMOVE" value="symfony/yaml"/>
    </php>
</phpunit>
